* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button,
label {
  cursor: pointer;
  border: none;
}
#Intro {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}
.intro-container {
  margin: 100px 0px;
  font-size: 2rem;
}
.intro-container form * {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.movie-container {
  display: flex;
  text-align: left;
  height: fit-content;
  justify-content: space-between;
  margin: 20px 0px;
}
.movie-details,
.movie-options {
  display: flex;
  align-items: center;
}
.movie-options button {
  padding: 20px;
  margin: 10px;
}
.dark-gray {
  background-color: rgb(177, 177, 177);
}
.light-gray {
  background-color: rgb(217, 217, 217);
}
.movie-details div {
  padding: 20px;
}
.movie-details .description-container {
  max-width: 50%;
}
.watched {
  background-color: rgb(96, 172, 96);
}
.del {
  background-color: rgb(232, 61, 61);
}
.watched:hover {
  background-color: rgb(62, 180, 62);
}
.del:hover {
  background-color: rgb(219, 30, 30);
}
.img img {
  max-height: 300px;
}
